<form action='/result'>
  <div class="form-group">
    <label for="change">How many cents would you like change for?</label>
    <input id="change" name="change" value="change" type="number" min="0">
  </div>
  <button type="submit" class="btn">Send</button>
</form>
